@import '../../../styles/variables.scss';

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.pagination__btn {
    margin: 0 20px;
    background-color: transparent;
    color: $white;
    font-weight: 700;
    font-size: 16px;
}

.pagination__number {
    font-size: 14px;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: $white;
    font-weight: 700;
    background-color: transparent;

    &.active {
        background-color: $white;
        color: $dark;
    }
}
