.btn {
    padding: 10px 24px;
    background-color: $yellow;
    border-radius: 100px;
    color: $white;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    border: 2px solid $yellow;
    transition: $transition;
    transition-property: background-color, color;

    &:hover {
        background-color: transparent;
        color: $yellow;
    }
}

.load-more {
    margin: 30px auto 0;
    width: 100%;
    max-width: 160px;
    background-color: transparent;
    border: 2px solid $yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 24px;
    color: $yellow;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px;
    transition: $transition;
    transition-property: color, background-color;

    &:hover {
        background-color: $yellow;
        color: $grey-dark;
    }
}