html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button, input, select, option {
    outline: none;
    border: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
}