h1 {
    font-size: 46px;
    line-height: 54px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

a, span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.page-title {
    color: $white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    transition: color $transition;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: $white;
    font-weight: 700;
    transition: color $transition;
}