.sign-form {
    width: 100%;
    padding: 150px 0 50px;
    max-width: 700px;
    margin: 0 auto;
}

.sign-form__form {
    background-color: rgba($grey-dark-2, .6);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.sign-form__holder {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.sign-form__label {
    margin-bottom: 5px;
    color: $white;
    font-size: 14px;
    font-weight: 600;
}

.sign-form__input {
    padding: 10px;
    border-radius: 6px;
}

.sign-form__text {
    color: $yellow;
    display: block;
    text-align: center;
}

.sign-form__link {
    display: block;
    text-align: center;
    color: $white;
    text-decoration: underline;
    margin-bottom: 20px;
}

.sign-form__submit {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sign-form__google {
    display: block;
    text-align: center;
    color: $white;
    text-decoration: underline;
    margin-top: 20px;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    width: 100%;
}